@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right,#005040, #003329);
}

header {
    color: white;
    padding: 100px;
    text-align: center;
}

header h2 {
    color: #00a080;
}

a {
    color: #005040;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    padding: 20px;
}
